.container {
  position: absolute;
  text-align: center;
  
  font-family: Arial, sans-serif;
  background-color: rgb(233, 231, 231);
  height: 49.9vw;
  width:100vw;
  top:0vw;
  left: 0vw;
}

.panel{
  position: absolute;
  height: 49.9vw;
  width: 25vw;
  background-color: #f1efef;
  top:0vw;
  left: 0vw;
  border-right: 1px solid rgb(210, 209, 209);
}